$color-primary: hsl(201, 90%, 8%);
$color-primary-light: #021a2799;

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

$color-grey: hsl(0, 0%, 50%);
$color-grey-light-1: hsl(0, 8%, 95%);
$color-grey-light-2: hsl(0, 0%, 60%);
